/*importing the fonts*/
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*general changes made to layout*/
header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    height: 10%;
    font-size: 4vh;
}

body {
    background: url("../images/map.jpg") no-repeat center center/cover;
    color: #000000;
    text-align: center;
}

main {
    padding-bottom: 2em;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    background-color: rgba(252, 252, 252, 0.85);
}

footer {
    margin-bottom: 4em;
    text-align: center;
}

footer > p {
    background-color: rgba(252, 252, 252, 0.85);
}

p {
    font-family: 'Glass Antiqua', cursive;
    font-size: 140%;
}

h1 {
    font-family: 'MedievalSharp', cursive;
}

/*code for the navigation buttons*/
.navbar {
    overflow: hidden;
    max-width: 100%;
    left: 0;
    width: 100%;
    font-size: 3vh;
    text-align: center;
}

.navbar a {
    display: inline-block;
    background-color: darkgray;
    position: inherit;
    color: #000000;
    padding: 0.8vh 0.8vw;
    text-decoration: none;
    margin: 0.05vw;
    border-radius: 10%;
}

.navbar a:hover {
    cursor: pointer;
    color: #cccccc;
}
 
span a {
    color: darkblue;
}

/*layout for the diamonds and heading*/
.diamond-left, .diamond-right {
    width: 14vw;
    height: auto;
    border-radius: 20%;
    margin-top: 2vh;
    display: inline;
}

.diamond-left {
    transform: scaleX(-1);
}

.column1, .column3 {
    width: 20%;
    height: 10%;
    display: inline;
}

.column2 {
    width: 60%;
    display: inline-block;
}

/*main paragraphs of the page*/
.left {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline;
}

/*subheadings*/
.sub {
    background-color: #000000;
    color: #ffffff;
    height: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/*Layout and style for form*/
form {
    margin: 2em;
}

label {
    color: #000000;
    float: left;
    text-align: left;
    width: 24em;
}

label, input, select, textarea {
    font-family: 'Glass Antiqua', cursive;
    font-size: 100%;
    line-height: normal;
}

input, textarea, select {
    border: 0.1em solid #000000;
    padding: 0.5em;
    width: 14em;
}

textarea {
    overflow: auto;
    height: 6em;
}

select {
    height: auto;
    line-height: 5em;
}

    /*images and videos*/
#timeline, #noor2, #noor3, #ship-sailing, #vid1 {
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
}

#vid1 {
    border: solid #C0C0C0;
    border-radius: 10%;
}
